<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WolfSteps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Wolf Steps, Walking in our steps</h1>
<div id="map"></div>
<!-- Add this div to your HTML -->
<div id="formBox" class="form-box" style="display: none;">
    <form id="markerForm" action="/marker_creation" method="post">
        Latitude: <input type="text" name="latitude" readonly><br>
        Longitude: <input type="text" name="longitude" readonly><br>
        Name: <input type="text" name="name" required><br>
        <button type="button" onclick="submitForm()">Create Marker</button>
    </form>
</div>


<script>
    // Load the JSON data using AJAX
    fetch('/get_api_key')
        .then(response => response.json())
        .then(data => {
            // Create the Google Maps API link using the JSON data
            const mapsApiKey = data.Maps_API_Key;
            const mapsIds = data.Maps_ids;
            const googleMapsApiLink = `https://maps.googleapis.com/maps/api/js?key=${mapsApiKey}&map_ids=${mapsIds}&callback=initMap`;

            // Create a script element and set its source to the dynamically generated link
            const scriptElement = document.createElement('script');
            scriptElement.src = googleMapsApiLink;

            // Append the script element to the body
            document.body.appendChild(scriptElement);
        })
        .catch(error => console.error('Error loading API keys:', error));
</script>
<!-- Move your script to the end of the body or use an event listener -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
