<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WolfSteps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        /* Style for the form overlay */
        .form-overlay {
            display: none;
            position: absolute;
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }
    </style>
</head>
<body>

<h1>Wolf Steps, Walking in our steps</h1>
<div id="map"></div>

<script>
    // Load the JSON data using AJAX
    fetch('/get_api_key')
        .then(response => response.json())
        .then(data => {
            // Create the Google Maps API link using the JSON data
            const mapsApiKey = data.Maps_API_Key;
            const mapsIds = data.Maps_ids;
            const googleMapsApiLink = `https://maps.googleapis.com/maps/api/js?key=${mapsApiKey}&map_ids=${mapsIds}&callback=initMap`;

            // Create a script element and set its source to the dynamically generated link
            const scriptElement = document.createElement('script');
            scriptElement.src = googleMapsApiLink;

            // Append the script element to the body
            document.body.appendChild(scriptElement);
        })
        .catch(error => console.error('Error loading API keys:', error));
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=geometry&callback=initMap">
</script>

<!-- Move your script to the end of the body or use an event listener -->
<script src="{{ url_for('static', filename='script.js') }}"></script>


</body>
</html>
